body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 40px auto 0;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 4.7rem;
    color: #596e79;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #596e79;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3b4e57;
}

a {
    color: #3b4e57;
}

#h1-descr {
    font-weight: normal;
    font-size: 1.9rem;
}

#prof-pic {
    width: 15%;
    border-radius: 50%;
}

.top-container {
    background-color: #f0ece2;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    width: 25%;
}

.progr-img {
    float: left;
    margin-right: 30px;
}

.mob-dev-img {
    float: right;
    margin-left: 30px;
}

.cybersec-img {
    float: left;
    margin-right: 30px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 350px;
}

.footer-icon {
    height: 32px;
}