/* Main parts */
body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #40514E;
}

h1 {
    margin: 40px auto 0;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 4.7rem;
    color: #596e79;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #596e79;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3b4e57;
}

hr {
    border-style: dotted none none;
    border-width: 6px;
    width: 5%;
    color: #dfd3c3;
    margin: 80px auto;
}

/* a {
    color: #3b4e57;
} */

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

/* Top container */
.top-container {
    background-color: #f0ece2;
    position: relative;
    padding-top: 100px;
}

#h1-descr {
    font-weight: normal;
    font-size: 1.9rem;
}

/* Middle container */
.middle-container {
    padding: 0 0 70px;
}

#prof-pic {
    width: 30%;
    border-radius: 50%;
}

.profile {
    width: 50%;
    margin: 70px auto;
    line-height: 2;
}

.profile h2 {
    margin-top: 15px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    width: 25%;
}

.progr-img {
    float: left;
    margin-right: 30px;
}

.mob-dev-img {
    float: right;
    margin-left: 30px;
}

.cybersec-img {
    float: left;
    margin-right: 30px;
}

.contact-me {
    width: 50%;
    margin: auto;
    line-height: 2;
}

.contact-me p {
    margin-bottom: 30px;
}

.butn {
  background: #dfd3c3;
  background-image: -webkit-linear-gradient(top, #dfd3c3, #c7b198);
  background-image: -moz-linear-gradient(top, #dfd3c3, #c7b198);
  background-image: -ms-linear-gradient(top, #dfd3c3, #c7b198);
  background-image: -o-linear-gradient(top, #dfd3c3, #c7b198);
  background-image: linear-gradient(to bottom, #dfd3c3, #c7b198);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #596e79;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #f0ece2;
  background-image: -webkit-linear-gradient(top, #f0ece2, #c7b198);
  background-image: -moz-linear-gradient(top, #f0ece2, #c7b198);
  background-image: -ms-linear-gradient(top, #f0ece2, #c7b198);
  background-image: -o-linear-gradient(top, #f0ece2, #c7b198);
  background-image: linear-gradient(to bottom, #f0ece2, #c7b198);
  text-decoration: none;
}

/* Bottom container */
.bottom-container {
    background-color: #f0ece2;
    padding: 40px 0 20px;
}

.bottom-container p {
    font-size: 0.9rem;
    padding-top: 20px;
}

.footer-icon {
    height: 32px;
    padding: 0 5px;
}